body{
    margin: 0;
    padding: 0;
  }
  nav {
    background-color:whitesmoke;
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    font-size:18px;
    font-weight:400;
  }
  
  nav a {
    text-decoration:none;
    color: #333;
    margin: 0 15px;
    position: relative;
    padding: 8px 15px;
  }
  
  nav a:hover {
    background-color: #a05c1a; /* similar to your image */
    color: white;
    border-radius: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    color: #333;
  }
  .dropdown-content.show{
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: #000;
  }
  
  /* .dropdown:hover .dropdown-content {
    display: block;
  } */
  
  /* Optional: make the active item styled */
  .active {
    background-color: #a05c1a;
    color: white;
    border-radius: 5px;
  }